<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">TITLE OF THE PAGE/SERVICE/WHATEVER</div>
        <div class="card-body text-dark">

            <!--NON COPIARE QUESTO, USA I MARGIN SULLE ALTRE RIGHE-->
            <div class="row" style="height: 50px;"></div>

            <!--RIGA 1: pulsanti-->
            <div class="row">
                <div class="col-md-6 text-center mb-3">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-outline-primary btn-lg btn-block">DO SOMETHING</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-6 text-center mb-3">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button class="btn btn-outline-primary btn-lg btn-block">DO SOMETHING ELSE</button>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

            <!--NON COPIARE QUESTO, USA I MARGIN SULLE ALTRE RIGHE-->
            <div class="row" style="height: 50px;"></div>

            <!--RIGA 2: form in riga-->
            <div class="row">
                <div class="col-md-6">
                    <label for="METTI ID 1">First field</label>
                    <input type="text" class="form-control" id="METTI ID 1" placeholder="A placeholder">
                </div>
                <div class="col-md-6">
                    <label for="METTI ID 2">Second field</label>
                    <input type="text" class="form-control" id="METTI ID 2" placeholder="Another placeholder">
                </div>
            </div>

            <!--NON COPIARE QUESTO, USA I MARGIN SULLE ALTRE RIGHE-->
            <div class="row" style="height: 50px;"></div>

            <!--RIGA 3: form in colonna-->
            <div class="row">
                <div class="col-md-8">
                    <div class="mb-3">
                        <label for="METTI ID 1">First field</label>
                        <input type="text" class="form-control" id="METTI ID 1" placeholder="A placeholder">
                    </div>
                    <div class="mb-3">
                        <label for="METTI ID 2">Second field</label>
                        <input type="text" class="form-control" id="METTI ID 2" placeholder="A placeholder">
                    </div>
                    <div class="mb-3">
                        <label for="METTI ID 3">Third field</label>
                        <input type="text" class="form-control" id="METTI ID 3" placeholder="A placeholder">
                    </div>
                    <div class="mb-3">
                        <label for="METTI ID 4">Fourth field</label>
                        <input type="text" class="form-control" id="METTI ID 4" placeholder="A placeholder">
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

            <!--NON COPIARE QUESTO, USA I MARGIN SULLE ALTRE RIGHE-->
            <div class="row" style="height: 50px;"></div>

            <!--RIGA 4: select form-->
            <div class="row">
                <div class="col-md-6">
                    <label for="METTI ID 1">First Select</label>
                    <select class="custom-select d-block w-100" id="METTI ID 1">
                        <!--option hidden [ngValue]="undefined">Select a number</option-->
                        <!--option hidden [ngValue]="null">Select a object </option-->
                        <!--option hidden value="null">work?</option-->

                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="METTI ID 2">Second Select</label>
                    <select class="custom-select d-block w-100" id="METTI ID 2">
                        <!--option hidden [ngValue]="undefined">Select a number</option-->
                        <!--option hidden [ngValue]="null">Select a object </option-->
                        <!--option hidden value="null">work?</option-->
                        <!--option hidden value="undefined">yes?</option-->

                        <option>Choose...</option>
                        <option>Option 1</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
            </div>

            <!--NON COPIARE QUESTO, USA I MARGIN SULLE ALTRE RIGHE-->
            <div class="row" style="height: 50px;"></div>

            <!--RIGA 5: lista con button piccoli-->
            <div class="row">
                <div class="col-md-5">
                    <div class="card border-custom-01">
                        <div class="card-header text-white bg-custom-01">Title of the list</div>
                        <div class="card-body p-0">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>ELEMENT 1</span>
                                    <button class="btn btn-primary glyphicon glyphicon-fire"></button>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>ELEMENT 2</span>
                                    <button class="btn btn-secondary glyphicon glyphicon-usd"></button>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>ELEMENT 3</span>
                                    <button class="btn btn-custom-01 glyphicon glyphicon-heart"></button>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span>ELEMENT 4</span>
                                    <button class="btn btn-success glyphicon glyphicon-globe"></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--NON COPIARE QUESTO, USA I MARGIN SULLE ALTRE RIGHE-->
            <div class="row" style="height: 50px;"></div>

            <!--RIGA 6: lista con button grandi-->
            <div class="row">
                <div class="col-md-5">
                    <div class="card border-custom-01">
                        <div class="card-header text-white bg-custom-01">Title of the CLICKABLE list</div>
                        <div class="card-body p-0">
                            <ul class="list-group">
                                <li class="list-group-item p-0">
                                    <button class="btn btn-light btn-block">
                                        ELEMENT 1
                                    </button>
                                </li>
                                <li class="list-group-item p-0">
                                    <button class="btn btn-light btn-block">
                                        ELEMENT 2
                                    </button>
                                </li>
                                <li class="list-group-item p-0">
                                    <button class="btn btn-light btn-block">
                                        ELEMENT 3
                                    </button>
                                </li>
                                <li class="list-group-item p-0">
                                    <button class="btn btn-light btn-block">
                                        ELEMENT 4
                                    </button>
                                </li>
                                <li class="list-group-item p-0">
                                    <button class="btn btn-light btn-block">
                                        ELEMENT 5
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--NON COPIARE QUESTO, USA I MARGIN SULLE ALTRE RIGHE-->
            <div class="row" style="height: 50px;"></div>

            <!--RIGA 7: login-->
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-2 col-sm-0"></div>
                <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center my-3">
                                <img src="assets/icona.png" height="128" width="128">
                            </div>
                            <input type="text" class="form-control mb-1" id="METTI ID 1" placeholder="Username">
                            <input type="text" class="form-control mb-1" id="METTI ID 2" placeholder="Password">
                            <button class="btn btn-primary btn-block mt-3">
                                <span class="glyphicon glyphicon-music"></span>
                                LOGIN
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-2 col-sm-0"></div>
            </div>

            <!--NON COPIARE QUESTO, USA I MARGIN SULLE ALTRE RIGHE-->
            <div class="row" style="height: 50px;"></div>

            <!--NON COPIARE QUESTO, USA I MARGIN SULLE ALTRE RIGHE-->
            <div class="row" style="height: 50px;"></div>

            <!--RIGA 9: pulsanti comuni-->
            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-success btn-block mb-2">
                        <span class="glyphicon glyphicon-ok"></span>
                        CONFIRM
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger btn-block mb-2">
                        <span class="glyphicon glyphicon-trash"></span>
                        DELETE
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-secondary btn-block mb-2">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        CANCEL
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-info btn-block mb-2">
                        <span class="glyphicon glyphicon-pencil"></span>
                        EDIT
                    </button>
                </div>
            </div>

            <!--NON COPIARE QUESTO, USA I MARGIN SULLE ALTRE RIGHE-->
            <div class="row" style="height: 50px;"></div>

            <!--RIGA 99: documentazione-->
            <div class="row">
                <div class="col-md-4">
                    <button type="button" onclick="window.open('https://getbootstrap.com/docs/3.3/components/')"
                        class="btn btn-link btn-block mb-2">
                        <span class="glyphicon glyphicon-flash"></span>
                        ICONS
                    </button>
                </div>
                <div class="col-md-4">
                    <button type="button"
                        onclick="window.open('https://getbootstrap.com/docs/4.3/getting-started/introduction/')"
                        class="btn btn-link btn-block mb-2">
                        <span class="glyphicon glyphicon-align-justify"></span>
                        GENERAL DOCUMENTATION
                    </button>
                </div>
            </div>

        </div>
    </div>
</ng-template>