<message></message>
<app-scroll-top></app-scroll-top>

<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01 mb-3">
        <div class="card-header text-white bg-custom-01">{{ 'events.title' | translate }}</div>
        <div class="card-body text-dark bg-light">

            <div class="row">
                <div class="col-sm-12 col-md-12 my-2">
                    <div class="input-group">
                        <input type="text" class="form-control" [placeholder]="translate.instant('shared.search')" [(ngModel)]="eventName">
                        <div class="input-group-append">
                          <button class="btn  btn-outline-primary" type="button" data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        {{ 'shared.advanced' | translate }}
                    </button>
                          <button class="btn btn-primary btn-block" (click)="loadEvents()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row collapse" id="collapseExample">
                <div class="col-sm-4 col-md-4 my-1">
                    <select class="custom-select d-block w-100" [(ngModel)]="selectedCity">
                        <option value="undefined">{{ 'events.selectCity' | translate }}</option>
                        <option *ngFor="let city of cities;">{{city}}</option>
                    </select>
                </div>
                <div class="col-sm-4 col-md-5 my-1">
                    <input type="text"  class="form-control" [(ngModel)]="selectedDate" [placeholder]="translate.instant('events.selectDate')" onfocus="(this.type='date')"/>
                </div>
                <div class="col-sm-4 col-md-3 my-1">
                    <button class="btn  btn-outline-danger btn-block" (click)="reset()">
                    {{ 'shared.reset' | translate }}
                </button>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-sm-6 col-md-4 col-lg-3 my-2" *ngFor="let event of events">
                    <div class="card">
                        <div class="wrapper">
                            <div *ngIf="event.loading; else eventImg">
                                <loader-small></loader-small>
                            </div>
                            <ng-template #eventImg>
                                <img class="card-img-top img-fluid" [src]="event.image" alt="Card image cap">
                            </ng-template>
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h6 class="crop-text-2">
                                    {{ 'customerEventDetail.eventTitle' | translate:event }}
                                </h6>
                            </div>
                            <p class="card-text">{{ 'events.timeFromTo' | translate:event }}</p>
                            <a [routerLink]="['../event-detail', event.id]"
                                class="btn btn-primary btn-block text-white">{{ 'events.ticketButton' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <ul *ngIf="totPages>1" class="pagination justify-content-center ">
                <li [ngClass]="(selectedPage>0)? 'active page-item' : 'active'" (click)="goPreviusPage()">
                    <a class="page-link" tabindex="-1">-</a>
                </li>
                <li class="page-item">
                    <a class="page-link">{{selectedPage+1}}</a>
                </li>
                <li [ngClass]="(selectedPage<totPages-1)? 'active page-item' : 'active'" (click)="goNextPage()">
                    <a class="page-link">+</a>
                </li>
            </ul>

        </div>
    </div>





</ng-template>