.wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .wrapper:after {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
  .wrapper img {
    width: auto;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  /*
  .card-title {
    height: 6rem;
    overflow: hidden;
  
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  */

  .crop-text-2 {
    height: 3.5rem;
    -webkit-line-clamp: 3;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: pre-line;
  }
  