<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">{{ 'addEvent.pageTitle' | translate }}
            <a class="btn btn-primary text-white float-right"
                (click)="addEvent()">{{ 'addEvent.saveButton' | translate }}</a>
        </div>
        <div class="card-body text-dark">

            <div *ngIf="imageurl" class="row my-3 justify-content-center">
                <div class="col-md-3">
                    <div class="wrapper">
                        <img class="card-img-top img-fluid" [src]="imageurl" alt="Card image cap">
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <form class="col-xl-12 col-lg-12 col-md-12 col-sm-12" (ngSubmit)="addEvent()">
                    <label>{{ 'addEvent.image' | translate }}</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" (change)="selectFile($event.target.files)"
                            accept="image/*">
                        <label
                            class="custom-file-label">{{(image)? image.name : ('addEvent.choseImage' | translate) }}</label>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-6 my-2">
                            <label>Title</label>
                            <input type="text" class="form-control mb-1" placeholder="Title"
                                [(ngModel)]="newEvent.title" [ngModelOptions]="{standalone: true}" pattern=".{1,1000}"
                                required>

                            <label>Description</label>
                            <textarea maxlength=5000 class="form-control" rows="10" placeholder="Description"
                                [(ngModel)]="newEvent.description" [ngModelOptions]="{standalone: true}"
                                pattern=".{1,1000}" required></textarea>
                        </div>

                        <div class="col-sm-6 col-md-6 my-2">
                            <label>Titolo</label>
                            <input type="text" class="form-control mb-1" placeholder="Titolo"
                                [(ngModel)]="newEvent.titolo" [ngModelOptions]="{standalone: true}" pattern=".{1,1000}"
                                required>

                            <label>Descrizione</label>
                            <textarea maxlength=5000 class="form-control" rows="10" placeholder="Descrizione"
                                [(ngModel)]="newEvent.descrizione" [ngModelOptions]="{standalone: true}"
                                pattern=".{1,1000}" required></textarea>
                        </div>
                        <div class="col-sm-6 col-md-6 my-2">
                            <label>{{ 'modifyEvent.city' | translate }}</label>
                            <div *ngIf="!cities; else city">
                                <loader-small></loader-small>
                            </div>
                            <ng-template #city>
                                <select class="custom-select d-block w-100" [(ngModel)]="newEvent.city"
                                    [ngModelOptions]="{standalone: true}" (change)="loadLocations()" required>
                                    <option hidden [ngValue]="undefined">{{ 'modifyEvent.city' | translate }}</option>
                                    <option *ngFor="let city of cities;">{{city}}</option>
                                </select>
                            </ng-template>

                        </div>
                        <div class="col-sm-6 col-md-6 my-2">
                            <label>{{ 'modifyEvent.locationName' | translate }}</label>
                            <div *ngIf="!locations; else location">
                                <loader-small></loader-small>
                            </div>
                            <ng-template #location>
                                <select class="custom-select d-block w-100" [(ngModel)]="newEvent.locationName"
                                    [ngModelOptions]="{standalone: true}" (change)="loadAddresses()" required>
                                    <option hidden [ngValue]="undefined">{{ 'modifyEvent.locationName' | translate }}
                                    </option>
                                    <option *ngFor="let location of locations;">{{location}}</option>
                                </select>
                            </ng-template>
                        </div>
                        <div class="col-sm-6 col-md-6 my-2">
                            <label>{{ 'modifyEvent.address' | translate }}</label>
                            <div *ngIf="!addresses; else address">
                                <loader-small></loader-small>
                            </div>
                            <ng-template #address>
                                <select class="custom-select d-block w-100" [(ngModel)]="newEvent.address"
                                    [ngModelOptions]="{standalone: true}" required>
                                    <option hidden [ngValue]="undefined">{{ 'modifyEvent.address' | translate }}
                                    </option>
                                    <option *ngFor="let address of addresses;">{{address}}</option>
                                </select>
                            </ng-template>
                        </div>
                    </div>
                </form>

            </div>

            <div class="card border-custom-01 my-3">
                <div class="card-header text-white bg-custom-01">{{ 'addEvent.eventSlots' | translate }}
                    <a class="btn btn-success text-white float-right" (click)="addDate()">+</a>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let eventDate of eventDates;">

                            <div class="row p-2 align-items-center">
                                <div class="col-sm-6 col-md-4 my-2">
                                    {{ 'addEvent.date' | translate }}
                                    <input type="date" class="form-control mb-1"
                                        [placeholder]="'addEvent.date' | translate " #surname="ngModel"
                                        [(ngModel)]="eventDate.date" [ngModelOptions]="{standalone: true}"
                                        pattern=".*\S.*" required>
                                </div>
                                <div class="col-sm-6 col-md-4 my-2">
                                    {{ 'addEvent.startTime' | translate }}
                                    <input type="time" class="form-control mb-1" #surname="ngModel"
                                        [(ngModel)]="eventDate.startTime" [ngModelOptions]="{standalone: true}"
                                        pattern=".*\S.*" required>
                                </div>
                                <div class="col-sm-6 col-md-4 my-2">
                                    {{ 'addEvent.numberOfSlots' | translate }}
                                    <input type="number" class="form-control mb-1" #surname="ngModel"
                                        [(ngModel)]="eventDate.numberOfSlots" [ngModelOptions]="{standalone: true}"
                                        required>
                                </div>
                                <div class="col-sm-6 col-md-4 my-2">
                                    {{ 'addEvent.slotDuration' | translate }}
                                    <input type="time" class="form-control mb-1" #time="ngModel"
                                        [(ngModel)]="eventDate.slotDuration" [ngModelOptions]="{standalone: true}"
                                        step=900 min="00:15" max="01:00" required>
                                </div>
                                <div class="col-sm-6 col-md-4 my-2">
                                    {{ 'addEvent.totalAvailable' | translate }}
                                    <input type="number" class="form-control mb-1"
                                        [placeholder]="'addEvent.totalAvailable' | translate" #surname="ngModel"
                                        [(ngModel)]="eventDate.totalTickets" [ngModelOptions]="{standalone: true}"
                                        min="0" required>
                                </div>
                                <div class="col-sm-6 col-md-4 my-2">
                                    &nbsp;
                                    <a class="btn btn-danger btn-block text-white"
                                        (click)="removeDate(eventDate)">{{ 'addEvent.remove' | translate }}</a>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</ng-template>