<app-modal (close)="messageAndRedirect()"></app-modal>
<message></message>

<div *ngIf="!loaded; else mainBlock">
  <loader-main></loader-main>
</div>
<ng-template #mainBlock>

<div class="row">
  <div class="col-md-4">
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="card-header bg-primary">{{'totem.useEmail' | translate }}</div>
      <div class="card-body">

        <input type="text" class="form-control my-2 border-primary" placeholder="Email" [(ngModel)]="email">
    
        <button class="btn btn-outline-primary btn-block my-2" (click)="bookEventWithEmail()">
          <span class="glyphicon glyphicon-envelope"></span>
          {{'totem.takeEmail' | translate}}
      </button>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card border-success mb-3" style="max-width: 18rem;">
      <div class="card-header bg-success">{{'totem.useCard' | translate }}</div>

      <div class="card-body">       
        <button class="btn btn-outline-success btn-block my-2" (click)="enableCamera()">
          <span class="glyphicon glyphicon-camera"></span>
          {{'totem.takeCard' | translate}}
      </button>
        </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card bg-border mb-3" style="max-width: 18rem;">
      <div class="card-header bg-warning">{{'totem.usePhoto' | translate }}</div>
      <div class="card-body">
        <button class="btn btn-outline-warning btn-block my-2" (click)="bookEventWithoutData()">
          <span class="glyphicon glyphicon-phone"></span>
          {{'totem.takePicture' | translate}}
      </button>
        
      </div>
    </div>

  </div>      
</div>
{{'totem.terms' | translate}}
</ng-template>



<div class="modal fade" id="camera-modal" tabindex="-2" >
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">{{'totem.readBarcode' | translate}}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                  <zxing-scanner id="scanner" [formats]="[ 'AZTEC', 'CODABAR', 'CODE_39', 'CODE_93', 'CODE_128', 'DATA_MATRIX', 'EAN_8', 'EAN_13', 'ITF', 'MAXICODE', 'PDF_417', 'QR_CODE', 'RSS_14', 'RSS_EXPANDED', 'UPC_A', 'UPC_E', 'UPC_EAN_EXTENSION']" 
                  (scanSuccess)="scanSuccessHandler($event)" [enable]="false" ></zxing-scanner>
          
                </div>
            </div>
            <div class="modal-footer">
                <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button-->
                <!--button type="button" class="btn btn-primary" data-dismiss="modal" (click)="doConfirm()">Confirm</button-->
            </div>
        </div>
    </div>
</div>