<message></message>
<app-scroll-top></app-scroll-top>

<div *ngIf="!loaded; else mainBlock">
  <loader-main></loader-main>
</div>
<ng-template #mainBlock>
  <div class="card border-custom-01">
    <div class="card-header text-white bg-custom-01">{{ 'adminManageManagerLocation.title' | translate }}
    </div>
    <div class="card-body text-dark">




      <div class="row my-2 border-top ">
        <div class="col-12">{{ 'adminManageManagerLocation.userInfo' | translate }}</div>
        <div class="col-sm-4 col-md-3 my-2">{{ 'shared.name' | translate }}
          <input type="text" class="form-control" readonly [(ngModel)]="manager.name">
        </div>
        <div class="col-sm-4 col-md-3 my-2">{{ 'shared.surname' | translate }}
          <input type="text" class="form-control" readonly [(ngModel)]="manager.surname">
        </div>
        <div class="col-sm-4 col-md-3 my-2">{{ 'shared.email' | translate }}
          <input type="text" class="form-control" readonly [(ngModel)]="manager.email">
        </div>
        <div class="col-sm-4 col-md-3 my-2">{{ 'shared.telephone' | translate }}
          <input type="text" class="form-control" readonly [(ngModel)]="manager.cellNo">
        </div>
      </div>

      <div class="row border-top border-bottom my-3">
        <div class="col-12">{{ 'adminManageManagerLocation.addLocation' | translate }}</div>
        <div class="col-sm-3 col-md-3 my-2">
          <div *ngIf="!cities; else city">
            <loader-small></loader-small>
          </div>
          <ng-template #city>
            <select class="custom-select d-block w-100" [(ngModel)]="selectedCity" [ngModelOptions]="{standalone: true}"
              (change)="loadLocations()" required>
              <option hidden [ngValue]="undefined">{{ 'shared.selectCity' | translate }}
              </option>
              <option *ngFor="let city of cities;">{{city}}</option>
            </select>
          </ng-template>
        </div>

        <div class="col-sm-3 col-md-4 my-2">
          <div *ngIf="!locations; else location">
            <loader-small></loader-small>
          </div>
          <ng-template #location>
            <select class="custom-select d-block w-100" [(ngModel)]="selectedLocationName"
              [ngModelOptions]="{standalone: true}" (change)="loadAddresses()" required>
              <option hidden [ngValue]="undefined">
                {{ 'shared.selectLocationName' | translate }}
              </option>
              <option *ngFor="let location of locations;">{{location}}</option>
            </select>
          </ng-template>
        </div>
        <div class="col-sm-4 col-md-4 my-2">
          <div *ngIf="!addresses; else address">
            <loader-small></loader-small>
          </div>
          <ng-template #address>
            <select class="custom-select d-block w-100" [(ngModel)]="selectedAddress"
              [ngModelOptions]="{standalone: true}" required>
              <option hidden [ngValue]="undefined">{{ 'shared.selectAddress' | translate }}
              </option>
              <option *ngFor="let address of addresses;">{{address}}</option>
            </select>
          </ng-template>
        </div>
        <div class="col-sm-2 col-md-1 my-2">
          <button class="btn btn-success text-white float-right" (click)="addManagerLocation()">+</button>
        </div>

      </div>


      <div class="row">

        <div class="col-12 my-2 text-center text-danger" *ngIf="managerlocations.length == 0">{{'adminManageManagerLocation.noLocation' | translate}}</div>
        <div class="col-12 my-2" *ngIf="managerlocations.length != 0">
          {{ 'adminManageManagerLocation.managerLocation' | translate }}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">{{ 'shared.locationName' | translate }}</th>
                  <th scope="col">{{ 'shared.city' | translate }}</th>
                  <th scope="col">{{ 'shared.address' | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let location of managerlocations;">
                  <th scope="row">{{location.locationName}}</th>
                  <td>{{location.city}}</td>
                  <td>{{location.address}}</td>
                  <td><a class="btn btn-danger text-white float-right" (click)="removeManagerLocation(location)">-</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>




    </div>
  </div>
</ng-template>