<nav class="navbar navbar-expand-lg navbar-dark bg-custom-01 fixed-top static-top">
  <div class="navbar-brand">{{ 'navbar.welcome' | translate }} {{(user)? user.name : ''}}</div>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show' : isCollapsed }" id="navbarHome">
    <ul class="navbar-nav">
      <!--div>
        <li class="nav-item">
          <div class="nav-link" (click)="goToEvents()">Events</div>
        </li>
        <div>
      </div>
        <li class="nav-item">
          <div class="nav-link" (click)="goToYourTickets()">Yout tickets</div>
        </li>
      </div-->

      <div *ngFor="let service of services; let i = index">
        <li class="nav-item">
          <div class="nav-link" (click)="goToAction(i)">{{ 'navbar.service' | translate:service }}</div>
        </li>
      </div>

      
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">

      <li class="nav-item dropdown ">
        <div class="nav-link dropdown-toggle" id="navbarDropdown2" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'navbar.language' | translate }}
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <div class="dropdown-item" (click)="switchLanguage('en')">English</div>
          <div class="dropdown-item" (click)="switchLanguage('it')">Italiano</div>
        </div>
      </li>

      <div *ngIf="isTotem(); else accountBlock"></div>
    <ng-template #accountBlock>
      <li class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" id="navbarAccount" role="button">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>

        <div *ngIf="user" class="dropdown-menu dropdown-menu-right dropdown-primary mt-0 py-0" aria-labelledby="navbarAccount">
          <div class="dropdown-item" (click)="doLogout()">{{ 'navbar.logout' | translate }}</div>
          <div class="dropdown-item" (click)="doChangePassoword()">{{ 'navbar.changePassword' | translate }}</div>
        </div>
        <div *ngIf="!user" class="dropdown-menu dropdown-menu-right dropdown-primary mt-0 py-0" aria-labelledby="navbarAccount">
          <div class="dropdown-item" (click)="doLogin()">{{ 'navbar.login' | translate }}</div>
          <div class="dropdown-item" (click)="doRegister()">{{ 'navbar.register' | translate }}</div>
        </div>
      </li>
      </ng-template>
    </ul>

  </div>

</nav>