<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="row justify-content-center">
        <form class="col-xl-4 col-lg-6 col-md-8 col-sm-12" (ngSubmit)="register()">
            <div class="card">
                <div class="card-body">
                    <div class="text-center my-3">
                        <img src="assets/ticket.jpg" height="128" width=auto>
                    </div>
                    <label for="email">{{ 'register.emailAddress' | translate }}</label>
                    <input type="text" class="form-control mb-1" id="email"
                        [placeholder]=" 'register.email' | translate " #email="ngModel"
                        [(ngModel)]="registerRequest.email" [ngModelOptions]="{standalone: true}"
                        pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                        required (change)="checkEmail()">
                    <label for="password">{{ 'register.password' | translate }}</label>
                    <input type="password" class="form-control mb-1" id="password"
                        [placeholder]="'register.password' | translate" #password="ngModel"
                        [(ngModel)]="registerRequest.password" [ngModelOptions]="{standalone: true}" pattern=".{7,128}"
                        required>

                    <label for="name">{{ 'register.name' | translate }}</label>
                    <input type="text" class="form-control mb-1" id="name" [placeholder]="'register.name' | translate"
                        [(ngModel)]="registerRequest.name" [ngModelOptions]="{standalone: true}" pattern=".*\S.*"
                        required #name="ngModel">

                    <label for="surname">{{ 'register.surname' | translate }}</label>
                    <input type="text" class="form-control mb-1" id="surname"
                        [placeholder]="'register.surname' | translate" #surname="ngModel"
                        [(ngModel)]="registerRequest.surname" [ngModelOptions]="{standalone: true}" pattern=".*\S.*"
                        required>

                    <label for="cellNo">{{ 'register.telephone' | translate }}</label>
                    <input type="test" class="form-control mb-1" id="cellNo"
                        [placeholder]="'register.telephone' | translate " #telephone="ngModel"
                        [(ngModel)]="registerRequest.cellNo" [ngModelOptions]="{standalone: true}" pattern="\d{7,12}"
                        required>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="checkbox1" [ngModelOptions]="{standalone: true}" required>
                        <label class="form-check-label btn-link" (click)="openTerms()">
                            {{'register.terms' | translate}}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="checkbox2" [ngModelOptions]="{standalone: true}" required>
                        <label class="form-check-label btn-link" (click)="openTermsOfUse()">
                            {{'register.termsOfUse' | translate}}
                        </label>
                    </div>


                    <button class="btn mt-3 btn-primary btn-block"
                        [disabled]="email.invalid || password.invalid || name.invalid || surname.invalid || telephone.invalid || !checkbox1 || !checkbox2 "
                        type="submit">
                        <span class="glyphicon glyphicon-sunglasses"></span>
                        {{ 'register.register' | translate }}
                    </button>


                </div>
            </div>
        </form>

    </div>
</ng-template>