<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">{{ 'customerEventDetail.title' | translate }}</div>
        <div class="card-body text-dark">

            <div class="card mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <div class="wrapper">
                            <img class="card-img-top img-fluid" [src]="image" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'customerEventDetail.eventTitle' | translate:event }}</h5>
                            <p class="card-text">{{ 'customerEventDetail.eventDescription' | translate:event }} </p>           
                            <p>{{ 'customerEventDetail.city' | translate }}: {{event.city}}</p>
                            <p>{{ 'customerEventDetail.address' | translate }}: {{event.address}}</p>
                            <p>{{ 'customerEventDetail.locationName' | translate }}: {{event.locationName}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="accordion">
                <div class="card bg-light my-1" *ngFor="let date of dates; let i = index">

                    <button class=" btn btn-custom-01 text-white p-3" data-toggle="collapse" aria-expanded="false"
                        [attr.data-target]="'#collapse' + i">
                        {{ 'customerEventDetail.date' | translate }}: {{date}}
                    </button>

                    <div [attr.id]="'collapse' + i" class="collapse" aria-labelledby="headingOne"
                        data-parent="#accordion">
                        <div class="card-body my-0 border " *ngFor="let eventSlot of eventSlots.get(date);">
                            
                            <div class="row">

                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-12">{{ 'customerEventDetail.start' | translate }}
                                        </div>
                                        <div class="col-md-12">{{eventSlot.startTime}}</div>
                                    </div>
                                </div>
                                <div class="col" >
                                    <div class="row">
                                        <div class="col-md-12 ">{{ 'customerEventDetail.end' | translate }}
                                        </div>
                                        <div class="col-md-12 ">{{eventSlot.endTime}}</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-12 ">
                                            {{ 'customerEventDetail.available' | translate }}
                                        </div>
                                        <div class="col-md-12 ">
                                            {{eventSlot.remaining}}/{{eventSlot.totalTickets}}</div>
                                    </div>
                                </div>
                                <div class="col my-1">
                                    <button class="btn btn-custom-01 btn-block text-white mt-2"
                                        [disabled]="eventSlot.remaining==0" (click)="bookEventSlot(eventSlot)">
                                        {{ 'customerEventDetail.bookButton' | translate }}
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-template>