<message></message>
<app-scroll-top></app-scroll-top>

<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">{{ 'adminManager.title' | translate }}</div>
        <div class="card-body text-dark">

            <div class="row my-4 justify-content-between">
                <div class="col-sm-6 col-md-4">
                    <label>{{ 'adminManager.role' | translate }}</label>
                    <select class="custom-select d-block w-100" [(ngModel)]="selectedRole">
                        <option hidden [ngValue]="undefined">{{ 'adminManager.filterByRole' | translate }}</option>
                        <option value="CUSTOMER">{{ 'adminManager.customer' | translate }}</option>
                        <option value="MANAGER">{{ 'adminManager.manager' | translate }}</option>
                        <option value="ADMINISTRATOR">{{ 'adminManager.administrator' | translate }}</option>
                    </select>
                </div>

                <div class="col-sm-6 col-md-4 ">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary btn-block" (click)="loadUsers()">
                        <span class="glyphicon glyphicon-search"></span>
                        {{ 'adminManager.search' | translate }}
                    </button>
                </div>
            </div>

            <div class="card border-custom-01">
                <div class="card-body text-dark">

                    <h5 class="text-center" *ngIf="!users || !users.length">{{ 'adminManager.noUsers' | translate }}
                    </h5>

                    <div *ngIf="users && users.length" class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'adminManager.email' | translate }}</th>
                                    <th scope="col">{{ 'adminManager.fullname' | translate }}</th>
                                    <th scope="col">{{ 'adminManager.birthdate' | translate }}</th>
                                    <th scope="col">{{ 'adminManager.telephone' | translate }}</th>
                                    <th scope="col">{{ 'adminManager.role' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users;">
                                    <th scope="row">{{user.email}}</th>
                                    <td>{{user.name}} {{user.surname}}</td>
                                    <td>{{user.birthdate}}</td>
                                    <td>{{user.cellNo}}</td>
                                    <td>
                                        <select class="custom-select d-block w-100" [ngModel]="user.role"
                                            (change)="changeRole(user, $event.target.value)">
                                            <option class="text-primary" value="CUSTOMER">
                                                {{ 'adminManager.customer' | translate }}</option>
                                            <option class="text-warning" value="MANAGER">
                                                {{ 'adminManager.manager' | translate }}</option>
                                            <option class="text-danger" value="ADMINISTRATOR">
                                                {{ 'adminManager.administrator' | translate }}</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <ul *ngIf="totPages>1" class="pagination justify-content-center my-2 ">
                <li [ngClass]="(selectedPage>0)? 'active page-item' : 'active'" (click)="goPreviusPage()">
                    <a class="page-link" tabindex="-1">-</a>
                </li>
                <li class="page-item">
                    <a class="page-link">{{selectedPage+1}}</a>
                </li>
                <li [ngClass]="(selectedPage<totPages-1)? 'active page-item' : 'active'" (click)="goNextPage()">
                    <a class="page-link">+</a>
                </li>
            </ul>

        </div>
    </div>
</ng-template>