<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">{{ 'addEvent.pageTitle' | translate }}
            <a class="btn btn-primary text-white float-right"
                (click)="addEvent()">{{ 'addEvent.saveButton' | translate }}</a>
        </div>

        <div class="card-body text-dark">

            <div *ngIf="imageurl" class="row my-3 justify-content-center">
                <div class="col-md-3">
                    <div class="wrapper">
                        <img class="card-img-top img-fluid" [src]="imageurl" alt="Card image cap">
                    </div>
                </div>
            </div>

            
            <div class="row my-3">
                <form class="col-xl-12 col-lg-12 col-md-12 col-sm-12" (ngSubmit)="addEvent()">
                    <label>{{ 'addEvent.image' | translate }}</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" (change)="selectFile($event.target.files)"
                            accept="image/*">
                        <label
                            class="custom-file-label">{{(image)? image.name : ('addEvent.choseImage' | translate) }}</label>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-6 my-4">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-tab1-tab" data-toggle="tab"
                                        href="#nav-tab1" role="tab" aria-controls="nav-tab1"
                                        aria-selected="true">Italiano</a>
                                    <a class="nav-item nav-link" id="nav-tab2-tab" data-toggle="tab" href="#nav-tab2"
                                        role="tab" aria-controls="nav-tab2" aria-selected="false">English</a>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-tab1" role="tabpanel"
                                    aria-labelledby="nav-tab1-tab">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 my-2">
                                            <label>Titolo</label>
                                            <input type="text" class="form-control mb-1" placeholder="Titolo"
                                                [(ngModel)]="newEvent.titolo" [ngModelOptions]="{standalone: true}"
                                                pattern=".{1,1000}" required>
                                        </div>
                                        <div class="col-sm-12 col-md-12 my-2">
                                            <label>Descrizione</label>
                                            <textarea maxlength=5000 class="form-control" rows="10"
                                                placeholder="Descrizione" [(ngModel)]="newEvent.descrizione"
                                                [ngModelOptions]="{standalone: true}" pattern=".{1,1000}"
                                                required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-tab2" role="tabpanel" aria-labelledby="nav-tab2-tab">
                                    <div class="row">

                                        <div class="col-sm-12 col-md-12 my-2">
                                            <label>Title</label>
                                            <input type="text" class="form-control mb-1" placeholder="Title"
                                                [(ngModel)]="newEvent.title" [ngModelOptions]="{standalone: true}"
                                                pattern=".{1,1000}" required>
                                        </div>

                                        <div class="col-sm-12 col-md-12 my-2">
                                            <label>Description</label>
                                            <textarea maxlength=5000 class="form-control" rows="10"
                                                placeholder="Description" [(ngModel)]="newEvent.description"
                                                [ngModelOptions]="{standalone: true}" pattern=".{1,1000}"
                                                required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 my-2">
                            <div class="row">


                                <div class="col-sm-12 col-md-12 my-2">
                                    <label>{{ 'modifyEvent.city' | translate }}</label>
                                    <div *ngIf="!cities; else city">
                                        <loader-small></loader-small>
                                    </div>
                                    <ng-template #city>
                                        <select class="custom-select d-block w-100" [(ngModel)]="newEvent.city"
                                            [ngModelOptions]="{standalone: true}" (change)="loadLocations()" required>
                                            <option hidden [ngValue]="undefined">{{ 'modifyEvent.city' | translate }}
                                            </option>
                                            <option *ngFor="let city of cities;">{{city}}</option>
                                        </select>
                                    </ng-template>
                                </div>

                                <div class="col-sm-12 col-md-12 my-2">
                                    <label>{{ 'modifyEvent.locationName' | translate }}</label>
                                    <div *ngIf="!locations; else location">
                                        <loader-small></loader-small>
                                    </div>
                                    <ng-template #location>
                                        <select class="custom-select d-block w-100" [(ngModel)]="newEvent.locationName"
                                            [ngModelOptions]="{standalone: true}" (change)="loadAddresses()" required>
                                            <option hidden [ngValue]="undefined">
                                                {{ 'modifyEvent.locationName' | translate }}
                                            </option>
                                            <option *ngFor="let location of locations;">{{location}}</option>
                                        </select>
                                    </ng-template>
                                </div>
                                <div class="col-sm-12 col-md-12 my-2">
                                    <label>{{ 'modifyEvent.address' | translate }}</label>
                                    <div *ngIf="!addresses; else address">
                                        <loader-small></loader-small>
                                    </div>
                                    <ng-template #address>
                                        <select class="custom-select d-block w-100" [(ngModel)]="newEvent.address"
                                            [ngModelOptions]="{standalone: true}" required>
                                            <option hidden [ngValue]="undefined">{{ 'modifyEvent.address' | translate }}
                                            </option>
                                            <option *ngFor="let address of addresses;">{{address}}</option>
                                        </select>
                                    </ng-template>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="card border-custom-01 my-3">
                <div class="card-header text-white bg-custom-01">{{ 'addEvent.eventSlots' | translate }}
                    <a class="btn btn-success text-white float-right" (click)="addDate()">+</a>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let eventDate of eventDates;">

                            <div class="row p-2 align-items-center">
                                
                                <div class="col-sm-6 col-md-4 my-2">
                                    {{ 'addEvent.numberOfRepetition' | translate }}
                                    <input type="number" class="form-control mb-1" #surname="ngModel"
                                        [(ngModel)]="eventDate.numberOfRepetition" [ngModelOptions]="{standalone: true}"
                                        required min="0" max="10">
                                </div>

                                <div *ngIf="eventDate.numberOfRepetition > 0" class="col col-12 my-2">
                                        <button type="button" (click)="eventDate.toggleDay(1)" [ngClass]="(eventDate.repeatedDays.has(1))? 'btn-success': 'btn-light' " class="btn  m-1">{{ 'shared.monday' | translate }}</button>
                                        <button type="button" (click)="eventDate.toggleDay(2)" [ngClass]="(eventDate.repeatedDays.has(2))? 'btn-success': 'btn-light' " class="btn  m-1">{{ 'shared.tuesday' | translate }}</button>
                                        <button type="button" (click)="eventDate.toggleDay(3)" [ngClass]="(eventDate.repeatedDays.has(3))? 'btn-success': 'btn-light' " class="btn  m-1">{{ 'shared.wednesday' | translate }}</button>
                                        <button type="button" (click)="eventDate.toggleDay(4)" [ngClass]="(eventDate.repeatedDays.has(4))? 'btn-success': 'btn-light' " class="btn  m-1">{{ 'shared.thursday' | translate }}</button>
                                        <button type="button" (click)="eventDate.toggleDay(5)" [ngClass]="(eventDate.repeatedDays.has(5))? 'btn-success': 'btn-light' " class="btn  m-1">{{ 'shared.friday' | translate }}</button>
                                        <button type="button" (click)="eventDate.toggleDay(6)" [ngClass]="(eventDate.repeatedDays.has(6))? 'btn-success': 'btn-light' " class="btn  m-1">{{ 'shared.saturday' | translate }}</button>
                                        <button type="button" (click)="eventDate.toggleDay(0)" [ngClass]="(eventDate.repeatedDays.has(0))? 'btn-success': 'btn-light' " class="btn  m-1">{{ 'shared.sunday' | translate }}</button>
                                </div>
                                
                                <div class="col-sm-6 col-md-4 my-2">
                                    {{ 'addEvent.date' | translate }}
                                    <input type="date" class="form-control mb-1"
                                        [placeholder]="'addEvent.date' | translate " #surname="ngModel"
                                        [(ngModel)]="eventDate.date" [ngModelOptions]="{standalone: true}"
                                        pattern=".*\S.*" required>
                                </div>
                                <div class="col-sm-6 col-md-4 my-2">
                                    {{ 'addEvent.totalAvailable' | translate }}
                                    <input type="number" class="form-control mb-1"
                                        [placeholder]="'addEvent.totalAvailable' | translate" #surname="ngModel"
                                        [(ngModel)]="eventDate.totalTickets" [ngModelOptions]="{standalone: true}"
                                        min="0" required>
                                </div>
                                <div class="col-sm-6 col-md-4 my-2">
                                    {{ 'addEvent.numberOfSlots' | translate }}
                                    <input type="number" class="form-control mb-1" #surname="ngModel"
                                        [(ngModel)]="eventDate.numberOfSlots" [ngModelOptions]="{standalone: true}"
                                        required>
                                </div>
                                <div class="col-sm-6 col-md-4 my-2">
                                    {{ 'addEvent.slotDuration' | translate }}
                                    <select class="custom-select d-block w-100" #time="ngModel" [(ngModel)]="eventDate.slotDuration" [ngModelOptions]="{standalone: true}" required>
                                        <option [ngValue]='"00:15"'>00:15</option>
                                        <option [ngValue]='"00:30"'>00:30</option>
                                        <option [ngValue]='"00:45"'>00:45</option>
                                        <option [ngValue]='"01:00"'>01:00</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-4 my-2">
                                    {{ 'addEvent.startTime' | translate }}
                                    <input type="time" class="form-control mb-1" #surname="ngModel"
                                        [(ngModel)]="eventDate.startTime" [ngModelOptions]="{standalone: true}"
                                        pattern=".*\S.*" required>
                                </div>
                                <div class="col-sm-6 col-md-4 my-2">
                                    &nbsp;
                                    <a class="btn btn-danger btn-block text-white"
                                        (click)="removeDate(eventDate)">{{ 'addEvent.remove' | translate }}</a>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</ng-template>