<div *ngIf="toShow" (click)="toShow=false" class="text-center position-fixed fixed-top mt-5 col-md-12">
    <div class="alert mt-3" [ngClass]="messageType" role="alert">
        {{ 'message.' + messageText | translate:object }}
    </div>
</div>