
<app-navbar></app-navbar>

<div id="cont" class="container">
    <div id="main">
        <router-outlet>
        </router-outlet>
    </div>
</div>

<!--footer class="py-4 bg-custom-01 fixed-bottom text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; Politecnico di Torino</small>
    </div>
</footer-->