<app-modal></app-modal>
<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">{{ 'customerYourTickets.title' | translate }}</div>
        <div class="card-body text-dark">
            <h5 class="text-center" *ngIf="!tickets || !tickets.length">{{ 'customerYourTickets.noTicket' | translate }}</h5>
            <div ngClass=" card my-2 {{(ticket.valid)? 'bg-custom-04' : 'bg-custom-02'}}" *ngFor="let ticket of tickets;">
                <div class="row p-2 align-items-center">
                    <div class="col-sm-6 col-md-3 my-2" [routerLink]="['../event-detail', ticket.eventId]">
                        <div class="row">
                            <b class="col-md-12 my-1">{{ 'customerYourTickets.eventTitle' | translate:ticket }}</b>
                            <h6 class="col-md-12 my-1">{{ 'customerYourTickets.city' | translate }} {{ticket.city}}</h6>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 my-2">
                        <div class="row">
                            <div class="col-md-12 my-1">{{ 'customerYourTickets.locationName' | translate }} {{ticket.locationName}}</div>
                            <div class="col-md-12 my-1">{{ 'customerYourTickets.in' | translate }} {{ticket.address}}</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 my-2">
                        <div class="row">
                            <div class="col-md-12 my-1">{{ 'customerYourTickets.date' | translate }} {{ticket.date}}</div>
                            <div class="col-md-12 my-1"><small class="text-muted">{{ 'customerYourTickets.time' | translate:ticket }}</small></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 my-2">
                        <button class="btn btn-primary btn-block text-white" (click)="showQr(ticket.ticketCode)">{{ 'customerYourTickets.readQrButton' | translate }}</button>
                        <button class="btn btn-danger btn-block text-white" [disabled]="offline" (click)="cancelTicket(ticket)">{{ 'customerYourTickets.cancelTicketButton' | translate }}</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-template>