<message></message>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">{{ 'manageLocations.pageTitle' | translate }}
            <a class="btn btn-primary text-white float-right"
                (click)="save()">{{ 'manageLocations.addNewLocation' | translate }}</a>
        </div>
        <div class="card-body text-dark">

            <div class="row my-3">
                <form class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

                    <div class="row">
                        <div class="col-sm-6 col-md-6 my-2">
                            {{ 'manageLocations.city' | translate }}
                            <input type="text" class="form-control mb-1"
                                [placeholder]="'manageLocations.city' | translate" [(ngModel)]="addRequest.city"
                                [ngModelOptions]="{standalone: true}" pattern=".*\S.*" required>
                        </div>
                        <div class="col-sm-6 col-md-6 my-2">
                            {{ 'manageLocations.address' | translate }}
                            <input type="text" class="form-control mb-1"
                                [placeholder]="'manageLocations.address' | translate" [(ngModel)]="addRequest.address"
                                [ngModelOptions]="{standalone: true}" pattern=".*\S.*" required>
                        </div>
                        <div class="col-sm-6 col-md-6 my-2">
                            {{ 'manageLocations.locationName' | translate }}
                            <input type="text" class="form-control mb-1"
                                [placeholder]="'manageLocations.locationName' | translate"
                                [(ngModel)]="addRequest.locationName" [ngModelOptions]="{standalone: true}" required>
                        </div>

                    </div>

                </form>

            </div>


            <div id="accordion">
                <div class="card bg-light my-1" *ngFor="let city of cities; let i = index">

                    <div *ngIf="!loaded; else location">
                        <loader-main></loader-main>
                    </div>
                    <ng-template #location>
                        <button class=" btn btn-custom-01 text-white p-3"
                            (click)="loadLocations(city, '#collapse' + i)">
                            {{ 'manageLocations.city' | translate }}: {{city}}
                        </button>

                        <div [attr.id]="'collapse' + i" class="collapse in" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body my-0 border " *ngFor="let location of locations;">

                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-md-4 my-2">
                                                {{ 'manageLocations.locationName' | translate }}
                                                {{location.locationName}}
                                            </div>
                                            <div class="col-md-4 my-2">
                                                {{ 'manageLocations.address' | translate }} {{location.address}}
                                            </div>
                                            <div class="col-md-4 my-2">
                                                <a *ngIf="!location.valid" class="btn btn-success btn-block text-white"
                                                    (click)="location.valid = true ">{{ 'location.restore' | translate }}</a>
                                                <a *ngIf="location.valid" class="btn btn-danger btn-block text-white"
                                                    (click)="location.valid = false ">{{ 'location.cancel' | translate }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>