<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="row justify-content-center">
        <form class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="text-center my-3">
                        <img src="assets/ticket.jpg" height="128" width=auto>
                    </div>
                    <label for="username">{{ 'login.emailAddress' | translate }}</label>
                    <input type="text" class="form-control mb-1" id="username" [placeholder]="'login.email' | translate"
                        [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
                    <label for="password">{{ 'login.password' | translate }}</label>
                    <input type="password" class="form-control mb-1" id="password"
                        [placeholder]="'login.password' | translate" [(ngModel)]="password"
                        [ngModelOptions]="{standalone: true}">

                    <div class="row my-3">
                        <div class="col-md-12 my-1">
                            <button class="btn btn-primary btn-block" [disabled]="!password||!username"
                                type="submit" (click)="login()">{{ 'login.LOGIN' | translate }}
                            </button>
                        </div>
                        <div class="col-md-6 my-1">
                            <button class="btn btn-success btn-block" (click)="doRegister()">
                                {{ 'login.REGISTER' | translate }}</button>
                        </div>
                        <div class="col-md-6 my-1">
                            <button class="btn btn-link btn-block text-right" (click)="forgotPassword()">{{ 'login.forgotPassword' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</ng-template>