<message></message>
<app-modal></app-modal>
<app-scroll-top></app-scroll-top>

<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">{{ 'adminEvents.title' | translate }}</div>
        <div class="card-body text-dark">

            <div class="row">
                <div class="col-sm-12 col-md-12 my-2">
                    <div class="input-group">
                        <input type="text" class="form-control" [placeholder]="translate.instant('shared.search')" [(ngModel)]="eventName">
                        <div class="input-group-append">
                          <button class="btn  btn-outline-primary" type="button" data-toggle="collapse"
                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        {{ 'shared.advanced' | translate }}
                    </button>
                          <button class="btn btn-primary btn-block" (click)="loadEvents()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row collapse" id="collapseExample">
                <div class="col-sm-4 col-md-4 my-1">
                    <select class="custom-select d-block w-100" [(ngModel)]="selectedCity">
                        <option value="undefined">{{ 'events.selectCity' | translate }}</option>
                        <option *ngFor="let city of cities;">{{city}}</option>
                    </select>
                </div>
                <div class="col-sm-4 col-md-5 my-1">
                    <input type="text"  class="form-control" [(ngModel)]="selectedDate" [placeholder]="translate.instant('events.selectDate')" onfocus="(this.type='date')"/>
                </div>
                <div class="col-sm-4 col-md-3 my-1">
                    <button class="btn  btn-outline-danger btn-block" (click)="reset()">
                    {{ 'shared.reset' | translate }}
                </button>
                </div>
            </div>




            <div class=" card my-2" *ngFor="let event of events;">
                <div class="row p-2 align-items-center">
                    <div class="col-sm-2 col-md-2 my-2">
                        <div class="wrapper">
                            <div *ngIf="event.loading; else eventImg">
                                <loader-small></loader-small>
                            </div>
                            <ng-template #eventImg>
                                <img class="card-img-top img-fluid" [src]="event.image" alt="Card image cap">
                            </ng-template>
                        </div>
                    </div>
                    <h6 class="col-sm-3 col-md-3 my-2">{{event.title}}</h6>
                    <div class="col-sm-4 col-md-4 my-2">{{ 'adminEvents.date' | translate:event }}  </div>
                    <div class="col-sm-3 col-md-3 my-2">
                        <div class="row">

                            <div class="col-md-12 my-1"><a class="btn btn-primary btn-block text-white"
                                (click)="showQr(event)" >{{ 'adminEvents.configureGate' | translate }}</a></div>
                            <div class="col-md-12 my-1"><a class="btn btn-warning btn-block text-white"
                                    [routerLink]="['../modify-event', event.id]">{{ 'adminEvents.editEventButton' | translate }}</a></div>
                            <div class="col-md-12 my-1"><a class="btn btn-danger btn-block text-white"
                                    (click)="deleteEvent(event)">{{ 'adminEvents.cancelEventButton' | translate }}</a></div>
                        </div>
                    </div>
                </div>
            </div>

            
            
            <ul *ngIf="totPages>1" class="pagination justify-content-center my-2 ">
                <li [ngClass]="(selectedPage>0)? 'active page-item' : 'active'" (click)="goPreviusPage()">
                    <a class="page-link" tabindex="-1">-</a>
                </li>
                <li class="page-item">
                    <a class="page-link">{{selectedPage+1}}</a>
                </li>
                <li [ngClass]="(selectedPage<totPages-1)? 'active page-item' : 'active'" (click)="goNextPage()">
                    <a class="page-link">+</a>
                </li>
            </ul>

        </div>
    </div>
</ng-template>