<message></message>
<app-scroll-top></app-scroll-top>

<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">{{ 'adminManager.title' | translate }}</div>
        <div class="card-body text-dark">

            <div class="row my-4 justify-content-between">

                <div class="col-sm-12 col-md-12 my-2">
                    <div class="input-group">
                        <input type="text" class="form-control" [placeholder]="translate.instant('shared.searchEmail')"
                            [(ngModel)]="userEmail">

                        <div class="input-group-append">
                            <select class="custom-select d-block w-100" [(ngModel)]="selectedRole">
                                <option [ngValue]="undefined">{{ 'adminManager.filterByRole' | translate }}</option>
                                <option value="CUSTOMER">{{ 'adminManager.customer' | translate }}</option>
                                <option value="MANAGER">{{ 'adminManager.manager' | translate }}</option>
                                <option value="ADMINISTRATOR">{{ 'adminManager.administrator' | translate }}</option>
                            </select>
                            <button class="btn btn-primary" (click)="loadUsers()">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>

                <div class="card border-custom-01">
                    <div class="card-body text-dark">

                        <h5 class="text-center" *ngIf="!users || !users.length">{{ 'adminManager.noUsers' | translate }}
                        </h5>

                        <div *ngIf="users && users.length" class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'adminManager.email' | translate }}</th>
                                        <th scope="col">{{ 'adminManager.fullname' | translate }}</th>
                                        <th scope="col">{{ 'adminManager.telephone' | translate }}</th>
                                        <th scope="col">{{ 'adminManager.role' | translate }}</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users;">
                                        <th scope="row">{{user.email}}</th>
                                        <td>{{user.name}} {{user.surname}}</td>
                                        <td>{{user.cellNo}}</td>
                                        <td>
                                            <select class="custom-select d-block w-100" [ngModel]="user.role"
                                                (change)="changeRole(user, $event.target.value)">
                                                <option class="text-primary" value="CUSTOMER">
                                                    {{ 'adminManager.customer' | translate }}</option>
                                                <option class="text-warning" value="MANAGER">
                                                    {{ 'adminManager.manager' | translate }}</option>
                                                <option class="text-danger" value="ADMINISTRATOR">
                                                    {{ 'adminManager.administrator' | translate }}</option>
                                            </select>
                                        </td>
                                        <td>
                                            <a *ngIf="user.role == 'MANAGER'" [routerLink]="['../manage-manager-locations', user.id]"
                                            class="btn btn-warning btn-block text-white"> <span class="glyphicon glyphicon-map-marker"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <ul *ngIf="totPages>1" class="pagination justify-content-center my-2 ">
                    <li [ngClass]="(selectedPage>0)? 'active page-item' : 'active'" (click)="goPreviusPage()">
                        <a class="page-link" tabindex="-1">-</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link">{{selectedPage+1}}</a>
                    </li>
                    <li [ngClass]="(selectedPage<totPages-1)? 'active page-item' : 'active'" (click)="goNextPage()">
                        <a class="page-link">+</a>
                    </li>
                </ul>

            </div>
        </div>
</ng-template>