<message></message>
<div *ngIf="!loaded; else mainBlock">
    <loader-main></loader-main>
</div>
<ng-template #mainBlock>
    <div class="card border-custom-01">
        <div class="card-header text-white bg-custom-01">{{ 'customerEventDetail.title' | translate }}</div>
        <div class="card-body text-dark">

            <div class="card mb-5">
                <div class="row">
                    <div class="col-md-3">
                        <div class="wrapper" *ngIf="image">
                            <img class="card-img-top img-fluid" [src]="image" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">{{ 'customerEventDetail.eventTitle' | translate:event }}</h5>
                            <p class="card-text">{{ 'customerEventDetail.eventDescription' | translate:event }} </p>
                            <p>{{ 'customerEventDetail.city' | translate }}: {{event.city}}</p>
                            <p>{{ 'customerEventDetail.address' | translate }}: {{event.address}}</p>
                            <p>{{ 'customerEventDetail.locationName' | translate }}: {{event.locationName}}</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 my-2">
                    <div class="card border-custom-01">
                        <div class="card-header text-white bg-custom-01">{{ 'events.availableDates' | translate }}
                        </div>
                        <div class="card-body limited p-0">
                            <li class="list-group-item p-0" *ngFor="let date of dates; let i = index">
                                <button class="btn btn-light btn-block" (click)="showSlots(date)">
                                    {{ 'customerEventDetail.date' | translate }}: {{date}}
                                </button>

                            </li>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 my-2" >
                    <div class="card border-custom-01">
                        <div class="card-header text-white bg-custom-01">{{ 'events.availableSlots' | translate }}:
                            {{selectedDate}}
                        </div>
                        <div class="card-body limited border my-0 " id="target" >
                            <li class="list-group-item" *ngFor="let eventSlot of showEventSlots;">

                                <div class="row">

                                    <div class="col">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ 'customerEventDetail.start' | translate }}
                                            </div>
                                            <div class="col-md-12">{{eventSlot.startTime}}</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                {{ 'customerEventDetail.end' | translate }}
                                            </div>
                                            <div class="col-md-12 ">{{eventSlot.endTime}}</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                {{ 'customerEventDetail.available' | translate }}
                                            </div>
                                            <div class="col-md-12 ">
                                                {{eventSlot.remaining}}/{{eventSlot.totalTickets}}</div>
                                        </div>
                                    </div>
                                    <div class="col my-1">
                                        <button class="btn btn-dark btn-block text-white mt-2"
                                            [disabled]="eventSlot.remaining==0" (click)="bookEventSlot(eventSlot)">
                                            {{ 'customerEventDetail.bookButton' | translate }}
                                        </button>
                                    </div>

                                </div>
                            </li>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>